.iconoCasa {
    display: inline-block;
    margin-right: 130px;
    margin: 25px 0 0 20px;
  }
  
  .icons-container {
    display: inline-block;
    margin-left: 130px;
  }
  
  .iconoLupa,
  .iconoCampana,
  .iconoUsuario {
    display: inline-block;
    margin-right: 10px;
  }
  