.welcome-title-admin {
  color: #0f0f0f;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1px;
  margin-bottom: 0;
}
.title-adress-admin {
  margin-left: 25px;
}

.buttons-container-admin {
  margin-top: 40px;
  gap: 1px;
  display: flex;
  flex-wrap: wrap;

  div {
    display: inline-flex;
    justify-content: center;
    height: 150px;
    align-items: center;
    img {
      height: 15px;
    }
  }

  .incidence-button-admin {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-align: center;
    max-width: 400px;
    border-radius: 32px;
    background: var(--Colors-Neutros-White-Normal, #fcfcfc);
    margin: 6px;
    /* Sombra card */
    box-shadow: 0px 2px 8px 0px rgba(71, 84, 103, 0.05);
    .icono-incidence-admin {
      display: flex;
    }
    img {
      height: 30px;
    }
    h2 {
      font-size: 40px;
    }
  }
  .create-incidence-button-admin {
    display: inline-flex;
    margin: 4px;
    margin-top: 6px;
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 800px;
    background: #9e303a;
    /* Sombra card */
    box-shadow: 0px 2px 8px 0px rgba(71, 84, 103, 0.05);
    justify-content: center;
    // align-items: center;

    .home-create-incident-subtitle-admin {
      color: var(--Colors-Neutros-Black-Normal, #fafafa);
      margin-bottom: -28px;
      margin-left: -121px;
      margin-right: -6px;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 200;
      line-height: 120%;
      letter-spacing: -0.48px;
    }
    .home-create-incident-admin {
      display: flex;
      text-align: center;
      color: var(--Colors-Neutros-Black-Normal, #fafafa);
      margin-bottom: 40px;
      margin-right: 30px;
      margin-left: 30px;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -0.48px;
    }
  }
  .junta-title-white-admin {
    display: flex;
    align-items: center;
    color: var(--Colors-Neutros-Black-Normal, #fafafa);
    margin-bottom: 126px;
    margin-right: -3px;
    margin-left: -41px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.48px;
  }
  .cuota-title-admin {
    display: flex;
    align-items: center;
    color: var(--Colors-Neutros-Black-Normal, #000000);
    margin-bottom: 126px;
    margin-right: -1px;
    margin-left: -39px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.48px;
  }
  .vote-title-admin {
    display: flex;
    align-items: center;
    color: var(--Colors-Neutros-Black-Normal, #000000);
    margin-bottom: 114px;
    margin-right: -17px;
    margin-left: 38px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.48px;
  }
  .num-junta-title-white-admin {
    display: flex;
    align-items: center;
    color: var(--Colors-Neutros-Black-Normal, #fafafa);
    margin-bottom: 5px;
    margin-right: -100px;
    margin-left: -65px;
    font-family: Montserrat;
    font-size: 44;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.48px;
  }
  .num-couta-title-admin {
    display: flex;
    align-items: center;
    color: var(--Colors-Neutros-Black-Normal, #0d0d0d);
    margin-bottom: 5px;
    margin-right: -91px;
    margin-left: -81px;
    font-family: Montserrat;
    font-size: 44;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.48px;
  }
  .num-vote-title-admin {
    display: flex;
    align-items: center;
    color: var(--Colors-Neutros-Black-Normal, #0d0d0d);
    margin-bottom: 14px;
    margin-right: -117px;
    margin-left: -50px;
    font-family: Montserrat;
    font-size: 44;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.48px;
  }
  .enero-title-white-admin {
    display: flex;
    align-items: center;
    color: var(--Colors-Neutros-Black-Normal, #fafafa);
    margin-bottom: -34px;
    margin-right: -44px;
    margin-left: 34px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.48px;
  }
  .ano-title-admin {
    display: flex;
    align-items: center;
    color: var(--Colors-Neutros-Black-Normal, #060606);
    margin-bottom: -34px;
    margin-right: -24px;
    margin-left: 3px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.48px;
  }
  .pending-title-admin {
    display: flex;
    align-items: center;
    color: var(--Colors-Neutros-Black-Normal, #060606);
    margin-bottom: -34px;
    margin-right: -12px;
    margin-left: 47px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.48px;
  }
  .reserve-title-admin {
    display: flex;
    align-items: center;
    color: var(--Colors-Neutros-Black-Normal, #060606);
    margin-bottom: 65px;
    margin-right: -106px;
    margin-left: -10px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.48px;
  }
  .places-title-admin {
    display: flex;
    align-items: center;
    color: var(--Colors-Neutros-Black-Normal, #060606);
    margin-bottom: 5px;
    margin-top: 39px;
    margin-right: -32px;
    margin-left: -28px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.48px;
  }
  .comunity-button-admin {
    display: flex;
    width: 150px;
    height: 150px;
    margin-bottom: 6px;
    margin-top: 6px;
    margin-left: 6px;
    align-items: center;
    gap: 12px;
    border-radius: 32px;
    background: #222b32;

    /* Sombra card */
    box-shadow: 0px 2px 8px 0px rgba(71, 84, 103, 0.05);
    .icono-comunity-admin {
      width: 46px;
      height: 46px;
    }
  }
  .junta-button-admin {
    display: inline-flex;
    width: 150px;
    align-items: center;
    margin-left: 6px;
    gap: 6px;
    border-radius: 32px;
    background: white;

    /* Sombra card */
    box-shadow: 0px 2px 8px 0px rgba(71, 84, 103, 0.05);
    .icono-junta-admin {
      display: flex;
      width: 24px;
      height: 24px;
    }
  }
  .calendario-admin {
    display: inline;
    width: 150px;
    align-items: center;
    margin-left: 6px;
    gap: 6px;
    border-radius: 32px;
    background: white;

    /* Sombra card */
    box-shadow: 0px 2px 8px 0px rgba(71, 84, 103, 0.05);
    .icono-calendario {
      width: 34px;
      height: 34px;
      margin-top: 28px;
      margin-left: 28px;
    }
  }
  .cuota-button-admin {
    display: inline-flex;
    margin-left: 6px;
    margin-top: 6px;
    justify-content: center;
    height: 126px;
    align-items: center;
    width: 360px;
    border-radius: 32px;
    background: #fafafa;

    /* Sombra card */
    box-shadow: 0px 2px 8px 0px rgba(71, 84, 103, 0.05);
    .icono-cuota-admin {
      display: flex;
      width: 24px;
      height: 24px;
      justify-content: center;
      align-items: center;
    }
  }
  .incidencias-title-admin {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.48px;
    margin-bottom: 50px;
  }
  .incidencias-button-admin {
    display: inline-flex;
    margin-top: 6px;
    margin-left: 6px;
    justify-content: center;
    height: 149px;
    align-items: center;
    width: 180px;
    border-radius: 32px;
    background: var(--Colors-Secondary-Light-Blue-Normal, #627b90);

    /* Sombra card */
    box-shadow: 0px 2px 8px 0px rgba(71, 84, 103, 0.05);
  }
  .area-button-admin {
    display: inline-flex;
    margin-top: 6px;
    margin-left: 4px;
    justify-content: center;
    height: 149px;
    align-items: center;
    width: 176px;
    border-radius: 32px;
    background: #fafafa;

    /* Sombra card */
    box-shadow: 0px 2px 8px 0px rgba(71, 84, 103, 0.05);
    .area-title-admin {
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 28.8px */
      letter-spacing: -0.48px;
      margin-bottom: 50px;
    }

    .icono-area {
      width: 42px;
      height: 36px;
      margin-top: 46px;
      margin-left: -92px;
      margin-right: 50px;
    }

    .icono-reservar-admin {
      display: flex;
      width: 24px;
      height: 24px;
      justify-content: center;
      align-items: center;
    }
  }

  .votacion-button-admin {
    display: inline-flex;
    margin: 4px;
    width: 146px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 800px;
    background: #fafafa;

    /* Sombra card */
    box-shadow: 0px 2px 8px 0px rgba(71, 84, 103, 0.05);
    .icono-votacion-admin {
      display: flex;
      padding-left: 20px;
      width: 24px;
      height: 24px;
      justify-content: center;
      align-items: center;
    }
  }
}

.home-incident-title-admin {
  color: var(--Colors-Neutros-Black-Normal, #0f0f0f);
  margin-bottom: -55px;
  padding-top: 41px;
  /* Label/Label XL */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.48px;
  justify-content: center;
  align-items: center;
}

.button-comunity-black-admin {
  color: var(--Colors-Neutros-Black-Normal, #000000);
  margin-bottom: 70px;
  margin-left: 5px;
  margin-right: -92px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.48px;
  justify-content: center;
  align-items: center;
}

.button-comunity-title-black-admin {
  color: var(--Colors-Neutros-Black-Normal, #000000);
  margin-top: 30px;
  /* Label/Label XL */
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.48px;
  justify-content: center;
  align-items: center;
}

.button-comunity-white-admin {
  color: var(--Colors-Neutros-Black-Normal, #fafafa);
  margin-bottom: 70px;
  margin-left: 16px;
  margin-right: -80px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.48px;
  justify-content: center;
  align-items: center;
}
.button-calendario-black-admin {
  color: var(--Colors-Neutros-Black-Normal, #000000);
  margin-bottom: 70px;
  margin-left: 24px;
  margin-right: -92px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.48px;
  justify-content: center;
  align-items: center;
}
.button-comunity-title-white-admin {
  color: var(--Colors-Neutros-Black-Normal, #fafafa);
  margin-top: 30px;
  /* Label/Label XL */
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.48px;
  justify-content: center;
  align-items: center;
}

.pendiente-title-admin {
  color: var(--Colors-Neutros-Black-Normal, #0f0f0f);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.48px;
}
.icono-recibo {
  width: 24px !important;
  height: 24px !important;
  margin-right: 6px;
}
.icon-container-admin {
  display: flex;

  //   flex-direction: column;
  align-items: center;
}
.custom-size-junt-admin {
  font-size: 44px;
}
.custom-size-cuota-admin {
  font-size: 44px;
}
.custom-size-votacion-admin {
  font-size: 44px;
}
.column-admin {
  flex-direction: column;
  // span{
  //     height: 30px;
}
