h1 {
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  letter-spacing: -1px;
  color: #0f0f0f;
}
p {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;

}
.form-register{
text-align: center;

}